Python3.g4
Java.g4
out/
rout/*/
bin/

.idea/*
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf
obj_nrf52dk/*
src/patterns/src/contiki/blink/obj_nrf52dk/
src/patterns/src/contiki/coap/
android/app/libs/
android/src/main/gen/
posix/.deps/
/runtime/java/src/nbproject/private/