<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.stanford.ravel.rrt">




    <!--<uses-permission-->
            <!--android:name="android.permission.ACCESS_FINE_LOCATION"-->
            <!--android:required="true" />-->
    <!-- needed for bluetooth from v6 -->


    <!-- Create phones unique ID -->


    <application>
        <service
                android:name=".android.ble.RavelBleService"
                android:enabled="true" />
    </application>
</manifest>
